<h1>Todo list</h1>

<div>
    <mat-list>
        <mat-list-item *ngFor="let todo of todosNotDone | async">
            <mat-checkbox [checked]="false" (change)="onStatusCheckboxClick(todo.id)">
                {{ todo.title }}</mat-checkbox>
        </mat-list-item>
        <mat-list-item *ngFor="let todo of todosDone | async">
            <mat-checkbox [checked]="true" (change)="onStatusCheckboxClick(todo.id)">
                <span class="done-todo">{{ todo.title }}</span></mat-checkbox>
        </mat-list-item>

    </mat-list>
</div>
